:root{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
    margin: 0;
}

.nav{
    width: 100%;
    background-color: rgb(26, 26, 26);
    height: 60px; 
    border-bottom: 2px solid white;  
}

.nav-layout{
    position: absolute;
    height: 200vh;
    background-color: rgba(0,0,0,0.9);
    width: 270px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    left: -50vh;
    transition: left 0.8s cubic-bezier(1,0,0,1);
}

.checkbox:checked ~ .nav-layout{
    left: 0;
}

.nav-layout ul{
    list-style-type: none;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    color: white;
    margin-top: 70px;
    z-index: 2;
}

.nav-layout ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    width: 100%;
}

.nav-layout ul li a:hover{
    background-color: white;
    color: black;
}

.nav-layout label{
    color: white;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 30px;
    cursor: pointer;
}

.nav-box{
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
}

.nav-box-search{
    margin-left: 20px;
    width: 190px;
    height: 40px;
    border: 1px solid #ffffff50;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1px;
}

.nav-box-search a i{
    color: #ffffff50;
}

.nav-box-search input{
    border: 0;
    height: 80%;
    background-color: transparent;
    color: white;
}

.nav-box label {
    color: white;
    height: 30px;
    width: 40px;
    margin-right: 20px;
    font-size: 28px;
    text-align: center;
    cursor: pointer;
}


.nav-box{
    height: 100%;
    width: 100%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header{
    height: 140vh;
}

.header-layout{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)), url('./../img/1.jpg') center no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .header-layout h1{
    color: white;
    font-size: 100px;
    text-align: center;
    width: 70%;
    height: auto;
    margin-top: 100px;
}

.header .line{
    height: 30px;
    width: 20%;
    border-bottom: 10px solid white;
}

.header .header-layout-articles{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header-layout-articles p{
    font-size: 20px;
}

.header .header-layout-articles article{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.header .header-layout-articles article i{
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 70px;
    color: white;
    padding-top: 15px;
    background-color: red;
    border-radius: 100%;
    margin-bottom: 20px;
}

p, h1, h2, h3{
    color: white;
    text-align: center;
}

.header .header-layout-articles h2{
    margin-bottom: 20px;
    letter-spacing: 4px;
}

.section-1{
    height: 155vh;
    background-color: blue;
    width: 100%;
}

.section-1 .section-1-layout{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)), url('./../img/3.jpg') center no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
}

.section-1-layout .target{
    display: flex;
    align-items: center;
    float: right;
    height: 300px;
    width: 80%;
    margin-top: 100px;
    margin-left: 20%;
    background-color: rgb(32, 34, 39);
    position: absolute;
}

.target .target-header{
    width: 20%;
}

.target-header h2{
    text-align: left;
    margin-left: 20px;
    font-size: 50px;
    border-top: 5px solid rgb(195,130,44);
    padding-top: 10px;
}

.target .target-info{
    width: 60%;
}

.target-info p{
    text-align: left;
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}

.target-info #underline{
    text-decoration: rgb(195,130,44) underline;
}

.target .target-img{
    background-color: rgb(195,130,44);
    height: 100%;
    width: 20%;
    display: flex;
}

.target .target-img i{
    height: 100px;
    width: 100px;
    font-size: 70px;
    padding-top: 12px;
    padding-left: 13px;
    color: white;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #00000040;
}

.section-1 .learn-more{
    position: absolute;
    height: 300px;
    width: 80%;
    margin: 0 10% 0 10%;
    margin-top: 450px;
    display: flex;
    justify-content: center;
}

.learn-more .learn-more-number{
    margin-top: 30px;
    width: 20%;
    color: white;
    font-size: 100px;
    text-align: center;
}

.learn-more .learn-more-info{
    margin-top: 40px;
    width: 80%;
} 

.learn-more .learn-more-info p{
    font-size: 30px;
    text-align: justify;
    padding-right: 30px;
    margin-bottom: 20px;
}

.learn-more .learn-more-info button{
    color: white;
    background-color: transparent;
    height: 50px;
    width: 120px;
    margin-top: 5px;
    border: 1px solid white;
}

.learn-more-info button:hover{
    color: black;
    background-color: white;
}

.section-2{
    height: 80vh;
    background-color: rgb(26, 26, 26);
}

.section-2 .section-2-layout{
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.section-2-layout-form{
    width: 50%;
    margin-top: 45px;
}

.section-2-layout-form .form-container{
    width: 90%;
    margin: auto;
}

.form-container .type-1{
    height: 40px;
    width: 210px;
    color: white;
    font-size: 18px;
    background-color: rgb(64, 64, 64);
    border: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 10px;
}

.form-container textarea{
    width: 94%;
    font-size: 18px;
    padding-left: 10px;
}

.form-container button{
    height: 40px;
    width: 100px;
    background-color: rgb(0,182,163);
    border: 0;
    color: white;
    font-size: 17px;
}

.form-container .social-media{
    margin-top: 20px;
    word-spacing: 10px;
}

.form-container .social-media i{
    font-size: 20px;
    color: white;
}

.section-2-layout-info{
    width: 50%;
    margin-top: 45px;
}

.section-2-layout-info p, .section-2-layout-info h2, .section-2-layout-info h3{
    text-align: left;
    margin-bottom: 20px;
    font-size: 25px;
}


.section-2-layout-info h2{
    color: rgb(0,182,163);
    font-size: 50px;
}

.footer{
    height: 60px;
    width: 100%;
    background-color: rgb(64, 64, 64);
}

.footer p{
    text-align: center;
    font-size: 15px;
    color: #ffffff50;
    padding-top: 20px;
}









